<!-- Blog area end here -->
<!-- Footer Area Start -->
<div class="footer-area">
    <div class="footer-container">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <!-- Start single blog -->
                    <div class="col-md-6 col-lg-3 mb-md-30px mb-lm-30px">
                        <div class="single-wedge">
                            <div class="footer-logo">
                                <a href="/"><img src="/static/images/logo/logo-2.png" alt=""></a>
                            </div>
                            <p class="about-text">RefurbMart brings new life to pre owned electronics with quality you
                                can trust and style you'll love.
                                Smart devices, smart choices all while helping the planet
                            </p>
                            <ul class="link-follow">
                                <li>
                                    <a class="m-0" title="Twitter" target="_blank" rel="noopener noreferrer" href="#"><i
                                            class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a title="Tumblr" target="_blank" rel="noopener noreferrer" href="#"><i
                                            class="fa fa-tumblr" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a title="Facebook" target="_blank" rel="noopener noreferrer" href="#"><i
                                            class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a title="Instagram" target="_blank" rel="noopener noreferrer" href="#"><i
                                            class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <!-- Start single blog -->
                    <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-60px">
                        <div class="single-wedge">
                            <h4 class="footer-herading">Services</h4>
                            <div class="footer-links">
                                <div class="footer-row">
                                    <ul class="align-items-center">
                                        <li class="li"><a class="single-link" href="my-account">My Account</a></li>
                                        <li class="li"><a class="single-link" href="contact">Contact</a></li>
                                        <li class="li"><a class="single-link" href="cart">Shopping cart</a></li>
                                        <li class="li"><a class="single-link" href="shop-3-column">Refurbished Product</a></li>
                                        <li class="li"><a class="single-link" href="shop-4-column">Product</a></li>
                                        <li class="li"><a class="single-link" href="login">Services Login</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <!-- Start single blog -->
                    <!-- <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-40px">
                        <div class="single-wedge">
                        </div>
                    </div> -->
                    <!-- End single blog -->
                    <!-- Start single blog -->
                    <div class="col-md-6 col-lg-3 col-sm-12">
                        <div class="single-wedge">
                            <h4 class="footer-herading">Contact Info</h4>
                            <div class="footer-links">
                                <!-- News letter area -->
                                <p class="address">Address: Dev Complex, Ranip, Ahmedabad.</p>
                                <p class="phone">Phone/Fax:<a href="tel:9988998898"> 9988998898</a></p>
                                <p class="mail">Email:<a href="mailto:demo@example.com"> refurb@gmail.com</a></p>
                                <!-- <p class="mail"><a href="https://demo@example.com/"> refurb@gmail.com</a></p> -->
                                <!-- News letter area  End -->
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                </div>
            </div>
        </div>
        <!-- <div class="footer-bottom">
            <div class="container">
                <div class="line-shape-top line-height-1">
                    <div class="row flex-md-row-reverse align-items-center">
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- Footer Area End -->